meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="keywords", content=data.meta.keywords)
meta(property="og:site_name", content=data.meta.websiteName)
meta(property="og:title", content=page.name)
meta(property="og:type", content="website")
meta(property="og:description", content=page.description)
meta(property="og:url", content=data.meta.domain + page.path)
title #{page.title}
